
.hint-container {
    position: absolute;
    font-size: 12px;
    background-color: #5e5d5d;
    color: white;
    padding: 8px;
    margin: 0;
    border-radius: 2px;
  }

  .hint-container a {
    color: white;
  }
  
  .hint-container::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
  }

  .hint-container--bottom::before {
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #5e5d5d;
  }
    
  .hint-container--top::before {
    top: auto;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #5e5d5d;
    border-bottom: transparent;
  }

  .hint-container--right::before {
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
    right: auto;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-right: 10px solid #5e5d5d;
    border-left: transparent

  }

  .hint-container--left::before {
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
    left: auto;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-left: 10px solid #5e5d5d;
    border-right: transparent;

  } 

  
  